@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  @apply bg-yellowBeige;
}

.dark .App {
  @apply bg-navyBlack;
}

.navbar {
  @apply bg-oliveGreen;
  @apply text-blackPink;
}

.card {
  @apply text-blackPink;
  @apply bg-oliveGreen;
}

.dark .card {
  @apply bg-blackPink;
  @apply text-oliveGreen;
}

.card:hover {
  @apply text-greyCyan;
  @apply bg-navyPurple;
}

.dark .card:hover {
  @apply bg-greyCyan;
  @apply text-navyPurple;
}

.card-header {
  @apply bg-manganiteBlue;
  @apply text-blackMagenta;
}

.dark .card-header {
  @apply bg-blackMagenta;
  @apply text-manganiteBlue;
}

.card-header:hover {
  @apply bg-cadetBlue;
  @apply text-grassGreen; 
}

.dark .card-header:hover {
  @apply bg-grassGreen;
  @apply text-cadetBlue;
}

.card-body {
  @apply bg-brightOrchid;
  @apply text-blackFuschia; 
}

.dark .card-body {
  @apply bg-blackFuschia;
  @apply text-brightOrchid; 
}

.card-body:hover {
  @apply bg-darkMagenta;
  @apply text-hotPink; 
}

.dark .card-body:hover {
  @apply bg-hotPink;
  @apply text-darkMagenta; 
}

.header {
  @apply bg-mintGreen;
  @apply text-deepPlum;
}

.dark .header, {
  @apply bg-deepPlum;
  @apply text-mintGreen;
}

.header:hover {
  @apply bg-canaryYellow;
  @apply text-grape;
}

.dark .header:hover {
  @apply bg-grape;
  @apply text-canaryYellow;
}

.header-jumbo {
  @apply text-8xl;
  @apply bg-mintGreen;
  @apply text-deepPlum;
}

.dark .header-jumbo, .dark {
  @apply bg-deepPlum;
  @apply text-mintGreen;
}

.header-jumbo:hover {
  @apply bg-canaryYellow;
  @apply text-grape;
}

.dark .header-jumbo:hover {
  @apply bg-grape;
  @apply text-canaryYellow;
}

.btn {
  @apply bg-redPink;
  @apply text-blackViolet;
}

.dark .btn {
  @apply bg-blackViolet;
  @apply text-redPink;
}

.btn:hover {
  @apply bg-grape;
  @apply text-canaryYellow;
}

.dark .btn:hover {
  @apply bg-grape;
  @apply text-canaryYellow;
}

/* .user-icon {
  @apply ; 
}

.user-icon:hover {
  @apply ; 
}

.submit-button {
  @apply 
  ;
}

.submit-button:hover {
  @apply ;
} */